{
  "printWidth": 200,
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "singleQuote": true,
  "htmlWhitespaceSensitivity": "ignore",
  "proseWrap": "never",
  "embeddedLanguageFormatting": "auto"
}
